{{ "<!-- Contact section -->" | safeHTML }}
<section class="alt-section section-contact">
    {{ with .Site.Params.contact.title }}<h3 id="contact">{{ . }}</h3>{{ end }}
    <div class="social-links">
        {{ range .Site.Params.contact.social }}
        <a href="{{ .link }}" target="_blank">
        	<img src="img/logos/{{ .icon }}" border="0" width="50" />
    	</a>
        {{ end }}
    </div>
    <!-- <hr class="bar"> -->
    <!-- <a class="biglink" href="#form-title">{{ .Site.Params.email }}</a> -->
</section>
